In [3]:
import pandas as pd

data_type = {
    'id' : 'int64',
    'NAME' : 'str',
    'host_id' : 'int64',
    'host_identity_verified' : 'str',
    'host name' : 'str',
    'neighbourhood group' : 'str',
    'neighbourhood' : 'str',
    'lat' : 'float64',
    'long' : 'float64',
    'country' : 'str',
    'country code' : 'str',
    'instant_bookable' : 'str',
    'cancellation_policy' : 'str',
    'room type' : 'str',
    'Construction year' : 'float64',
    'price' : 'str',
    'service fee' : 'str',
    'minimum nights' : 'float64',
    'number of reviews' : 'float64',
    'last review' : 'str',
    'reviews per month' : 'float64',
    'review rate number' : 'float64',
    'calculated host listings count' : 'float64',
    'availability 365' : 'float64',
    'house rules' : 'str',
    'license' : 'str'
}

df=pd.read_csv('data/Airbnb_Open_Data.csv', dtype=data_type)
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,FALSE,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,FALSE,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,TRUE,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,TRUE,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,FALSE,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [4]:
airbnb = df.copy()

In [5]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [6]:
airbnb.isnull().sum()/len(airbnb)*100

id                                 0.000000
NAME                               0.243667
host id                            0.000000
host_identity_verified             0.281679
host name                          0.395715
neighbourhood group                0.028265
neighbourhood                      0.015595
lat                                0.007797
long                               0.007797
country                            0.518524
country code                       0.127682
instant_bookable                   0.102340
cancellation_policy                0.074075
room type                          0.000000
Construction year                  0.208579
price                              0.240743
service fee                        0.266084
minimum nights                     0.398639
number of reviews                  0.178364
last review                       15.490404
reviews per month                 15.476759
review rate number                 0.317742
calculated host listings count     0.310919
availability 365                   0.436651
house_rules                       50.810437
license                           99.998051
dtype: float64

In [7]:
airbnb.isnull().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [8]:
#  total duplicate value 
df.duplicated().sum()

np.int64(541)

In [9]:
airbnb = airbnb.drop(columns=['host name', 'country','country code','license','last review'])

In [10]:
# rename columns name for better understanding 
columns = {'id' : 'id',
           'NAME' : 'listing_name', 
           'host id':'host_id',
           'host_identity_verified':'host_verification',
           'neighbourhood group' :'neighbourhood_group', 
           'neighbourhood':'neighbourhood', 
           'lat':'latitude', 
           'long':'longitude',
           'instant_bookable':'instant_bookable',
           'cancellation_policy':'cancellation_policy',
           'room type':'room_type',
           'Construction year':'construction_year',
           'price':'price',
           'service fee':'service_fee', 
           'minimum nights':'min_nights',
           'number of reviews':'number_of_reviews',
           'reviews per month':'avg_reviews_per_month', 
           'review rate number':'star_rating',
           'availability 365':'yearly_availability'}

airbnb.rename(columns,axis=1,inplace=True)

In [11]:
airbnb = airbnb.dropna(subset = ['listing_name', 'neighbourhood_group', 'neighbourhood', 'instant_bookable', 'cancellation_policy', 
                                 'construction_year', 'price', 'service_fee', 'yearly_availability'])

# Replacing host_verification NaN values with unconfirmed because there is no varifivcation confirmation of nan values .

airbnb['host_verification'] = airbnb['host_verification'].fillna('unconfirmed')


#  Replacig min_nights missing values with 1.0 . beacuse 1 is refer to lowest possible value with respact of columns . as well as 1 is most frequently comming numbers in column . 

airbnb['min_nights'] = airbnb['min_nights'].fillna(1.0)

# in number_of_reviews column ,i'll impute NaN value with 0 because value can't be replace with mean and median 
airbnb['number_of_reviews'] = airbnb['number_of_reviews'].fillna(0.0)

#in number_of_reviews column ,i'll impute NaN value with 0 because null value is availble on there ,where number_of_rewiews is equal to 0 
airbnb['star_rating'] = airbnb['star_rating'].fillna(0.0)

In [12]:
airbnb = airbnb[~(airbnb['avg_reviews_per_month'].isnull() & airbnb['number_of_reviews'] > 0)]
airbnb['avg_reviews_per_month'] = airbnb[(airbnb['avg_reviews_per_month'].isnull() & airbnb['number_of_reviews']==0) ]['avg_reviews_per_month'].fillna(0)

airbnb = airbnb.dropna()

In [14]:
airbnb.isnull().sum()

id                       0
listing_name             0
host_id                  0
host_verification        0
neighbourhood_group      0
neighbourhood            0
latitude                 0
longitude                0
instant_bookable         0
cancellation_policy      0
room_type                0
construction_year        0
price                    0
service_fee              0
min_nights               0
number_of_reviews        0
avg_reviews_per_month    0
star_rating              0
yearly_availability      0
house_rules              0
dtype: int64

In [15]:
airbnb.shape

(49724, 20)

{'name': 'Statue of Liberty', 'latitude': 40.6892, 'longitude': -74.0445}
{'name': 'Central Park', 'latitude': 40.7851, 'longitude': -73.9683}
{'name': 'Times Square', 'latitude': 40.758, 'longitude': -73.9855}
{'name': 'Empire State Building', 'latitude': 40.7484, 'longitude': -73.9857}
{'name': 'Brooklyn Bridge', 'latitude': 40.7061, 'longitude': -73.9969}
{'name': 'Metropolitan Museum of Art', 'latitude': 40.7794, 'longitude': -73.9632}
{'name': 'One World Trade Center', 'latitude': 40.7127, 'longitude': -74.0134}
{'name': 'Rockefeller Center', 'latitude': 40.7587, 'longitude': -73.9787}
{'name': 'Broadway', 'latitude': 40.759, 'longitude': -73.9845}
{'name': 'Fifth Avenue', 'latitude': 40.775, 'longitude': -73.965}

In [19]:
nyc_attractions = [
    {"name": "Statue of Liberty", "latitude": 40.6892, "longitude": -74.0445},
    {"name": "Central Park", "latitude": 40.7851, "longitude": -73.9683},
    {"name": "Times Square", "latitude": 40.7580, "longitude": -73.9855},
    {"name": "Empire State Building", "latitude": 40.7484, "longitude": -73.9857},
    {"name": "Brooklyn Bridge", "latitude": 40.7061, "longitude": -73.9969},
    {"name": "Metropolitan Museum of Art", "latitude": 40.7794, "longitude": -73.9632},
    {"name": "One World Trade Center", "latitude": 40.7127, "longitude": -74.0134},
    {"name": "Rockefeller Center", "latitude": 40.7587, "longitude": -73.9787},
    {"name": "Broadway", "latitude": 40.7590, "longitude": -73.9845},
    {"name": "Fifth Avenue", "latitude": 40.7750, "longitude": -73.9650}
]

import numpy as np
# Function to calculate the Haversine distance between two points on Earth
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in kilometers
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    return R * c

# Function to calculate the average distance from all 10 attractions
def calculate_avg_distance(row, attractions):
    distances = []
    for attraction in attractions:
        dist = haversine(row['latitude'], row['longitude'], attraction['latitude'], attraction['longitude'])
        distances.append(dist)
    return np.mean(distances)

# Apply the function to each row in the DataFrame
airbnb['avg_distance_to_attractions'] = airbnb.apply(lambda row: calculate_avg_distance(row, nyc_attractions), axis=1)
airbnb.head()

,id,listing_name,host_id,host_verification,neighbourhood_group,neighbourhood,latitude,longitude,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,min_nights,number_of_reviews,avg_reviews_per_month,star_rating,yearly_availability,house_rules,avg_distance_to_attractions
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,FALSE,strict,Private room,2020.0,$966,$193,10.0,9.0,0.21,4.0,286.0,Clean up and treat the home the way you'd like...,11.514070
1,1002102,Skylit Midtown Castle,52335172823,verified,Manhattan,Midtown,40.75362,-73.98377,FALSE,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,0.38,4.0,228.0,Pet friendly but please confirm with me if the...,3.175221
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Manhattan,Harlem,40.80902,-73.94190,TRUE,flexible,Private room,2005.0,$620,$124,3.0,0.0,0.00,5.0,352.0,"I encourage you to use my kitchen, cooking and...",7.943890
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Manhattan,East Harlem,40.79851,-73.94399,FALSE,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,0.10,3.0,289.0,"Please no smoking in the house, porch or on th...",6.871756
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Manhattan,Murray Hill,40.74767,-73.97500,TRUE,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,0.59,3.0,374.0,"No smoking, please, and no drugs.",3.491847

In [20]:
from textblob import TextBlob

# Function to calculate sentiment polarity using TextBlob
def calculate_sentiment(text):
    blob = TextBlob(text)
    return blob.sentiment.polarity

# Apply the sentiment calculation function to the 'description' column
airbnb['house_rules_sentiment'] = airbnb['house_rules'].apply(calculate_sentiment)
airbnb.head()

,id,listing_name,host_id,host_verification,neighbourhood_group,neighbourhood,latitude,longitude,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,min_nights,number_of_reviews,avg_reviews_per_month,star_rating,yearly_availability,house_rules,avg_distance_to_attractions,house_rules_sentiment
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,FALSE,strict,Private room,2020.0,$966,$193,10.0,9.0,0.21,4.0,286.0,Clean up and treat the home the way you'd like...,11.514070,0.366667
1,1002102,Skylit Midtown Castle,52335172823,verified,Manhattan,Midtown,40.75362,-73.98377,FALSE,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,0.38,4.0,228.0,Pet friendly but please confirm with me if the...,3.175221,0.206818
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Manhattan,Harlem,40.80902,-73.94190,TRUE,flexible,Private room,2005.0,$620,$124,3.0,0.0,0.00,5.0,352.0,"I encourage you to use my kitchen, cooking and...",7.943890,-0.075000
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Manhattan,East Harlem,40.79851,-73.94399,FALSE,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,0.10,3.0,289.0,"Please no smoking in the house, porch or on th...",6.871756,0.100000
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Manhattan,Murray Hill,40.74767,-73.97500,TRUE,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,0.59,3.0,374.0,"No smoking, please, and no drugs.",3.491847,0.000000

In [25]:
airbnb.groupby('host_id').size().reset_index(name='count').sort_values(by='count', ascending=False)

           host_id  count
397      885280047      2
19067  37765401458      2
13726  27487234852      2
19550  38736079204      2
13113  26322577918      2
...            ...    ...
49467  98757149348      1
49468  98757459395      1
49469  98757646031      1
49470  98757950112      1
49471  98760968631      1

[49472 rows x 2 columns]